*{margin: 0;padding: 0;}
*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
body{font-family: "Raleway", sans-serif;}
section{
    padding: 8em;
}
nav{text-align: center;}
nav a{
    position: relative;
    margin: 4px 20px;
    outline: none;
    color: #fff;
    opacity: 0.9;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 500;
}
nav a:hover, nav a:focus{outline: none;}

/*effect1*/
.color-1{background: #cd4436;}
.color-1 a:before{
    margin-right: 10px;
    content: "[";
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
}
.color-1 a:after{
    content: "]";
    margin-left: 10px;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
}
.color-1 a:before, .color-1 a:after{
    display: inline-block;
    opacity: 0;
    -webkit-transition: transform 0.3s, opacity 0.2s;
    -moz-transition: transform 0.3s, opacity 0.2s;
    -ms-transition: transform 0.3s, opacity 0.2s;
    -o-transition: transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}
.color-1 a:hover::before, .color-1 a:hover::after{
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

/*effect2*/
.color-2{background: #0e83cd;}
.cl-effect-2 a{
    line-height: 44px;
    /*perspective: 1000px;*/
    /*-webkit-perspective: 1000px;*/
}
.cl-effect-2 a span{
    position: relative;
    display: inline-block;
    padding: 0 14px;
    background: #2195de;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.cl-effect-2 a span:before{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0965a0;
    content: attr(data-hover);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.cl-effect-2 a:hover span, .cl-effect-2 a:focus span{
    -webkit-transform: rotateX(90deg) ;
    -moz-transform: rotateX(90deg) ;
    -ms-transform: rotateX(90deg) ;
    -o-transform: rotateX(90deg) ;
    transform: rotateX(90deg) translateY(-22px);
}
.cl-effect-2 a:hover span::before, .cl-effect-2 a:focus span::before{
    background: #28a2ee;
}

/*effect3*/
.color-3{background: #9e487f;}
.cl-effect-3 a:after{
    content: "";
    width: 100%;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0px;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: transform 0.5s, opacity 0.3s;
    -moz-transition: transform 0.5s, opacity 0.3s;
    -ms-transition: transform 0.5s, opacity 0.3s;
    -o-transition: transform 0.5s, opacity 0.3s;
    transition: transform 0.5s, opacity 0.3s;
    opacity: 0;
}
.cl-effect-3 a:hover::after{
    opacity: 0.2;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
}


/*cl-effect-4*/
.color-4{
    background: #3fa46a;
}
.cl-effect-4 a:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #fff;
    -webkit-transform: rotateX(-90deg) translateY(5px);
    -moz-transform: rotateX(-90deg) translateY(5px);
    -ms-transform: rotateX(-90deg) translateY(5px);
    -o-transform: rotateX(-90deg) translateY(5px);
    transform: rotateX(-90deg) translateY(5px);
    -webkit-transition: transform 0.4s, opacity 0.3s;
    -moz-transition: transform 0.4s, opacity 0.3s;
    -ms-transition: transform 0.4s, opacity 0.3s;
    -o-transition: transform 0.4s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0.5;
}
.cl-effect-4 a:hover::after{
    opacity: 1;
    -webkit-transform: translateY(10px) translateZ(0);
    -moz-transform: translateY(10px) translateZ(0);
    -ms-transform: translateY(10px) translateZ(0);
    -o-transform: translateY(10px) translateZ(0);
    transform: translateY(10px) translateZ(0);
}

/*cl-effect-5*/
.color-5{background: #f19f0f;}
.cl-effect-5 {overflow: hidden;}
.cl-effect-5 a{
    display: inline-block;/*很重要没有这个无法实现动态效果*/
}
.cl-effect-5 a::after{
    content: attr(data-hover);
    position: absolute;
    top: 100%;
    left: 0;
    font-weight: 600;
}
.cl-effect-5 a, .cl-effect-5 a:after{
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
}
.cl-effect-5 a:hover{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}